apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: vacancies-collector
type: Opaque
data:
  DB_USER: VmFyZW5paw==
  DB_PASSWORD: Vmt1c255DQo=
  BOT_TOKEN: #Ваш BOT_TOKEN

  RABBITMQ_USER: dXNlcg==
  RABBITMQ_PASSWORD: cGFzc3dvcmQ=
